.new_login
  = form_tag sessions_path do
    .field#email_field
      = text_field_tag :email, params[:email], placeholder: "EMAIL"
    .field#password_field
      .password_field_tag
        = password_field_tag :password
      .password_placeholder
        PASSWORD
    .actions.login
      = submit_tag 'Login', id: 'login_submit'