.show_checkin_container {
  margin: auto;
  text-align: center;
  width: 85%;
  height: 100%;
  div {
    max-width: 800px;
  }
}

.title_container {
  background-color: #A9A9A9;
  width: 100%;
  padding: 1% 0;
  font-size: 1.4em;
  margin: 5% auto 0 auto;
  position: relative;
}

.edit_delete_links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
}

.show_checkin_map {
  text-align: center;
  height: 35%;
  margin: 2% auto 0 auto;

  #map {
    height: 100%;
  }
}

.assets_container {
  height: 25%;
  width: 100%;
  background-color: #A9A9A9;
  margin: 2% auto 0 auto;
  padding: 1% 0 1% 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.assets {
  height: 100%;
}

.assets:first-child {
  margin-left: 10px;
}

.image_show, .video_show, .words_div {
  margin-right: 10px;
  float: left;
  display: block;
  background: #fff;
  height: 100%;
  box-shadow: 5px 5px 2px #777;
}

.words_div {
  width: 200px;
  max-width: 200px;
  overflow: scroll;
  padding-top: 1%;
  height: 94%;
  text-align: left;
  line-height: 125%;
  box-shadow: 5px 5px 2px #777;
}

.words_inside {
  padding: 5%;
  padding-top: 1%;
}

.music_container {
  width: 100%;
  margin: 2% auto 0 auto;
}

.audio_show_controls {
  width: 100%;
}

.people_category_container {
  margin: 2% auto 0 auto;
}

.show_checkin_people, .show_checkin_categories {
  background-color: #A9A9A9;
  width: 49%;
  margin-bottom: 2%;
  display: inline-block;
  float: left;
  min-height: 50px;
}

.show_checkin_categories {
  margin-left: 2%;
}

#edit_icon_show_page {
  width: 25px;
}

.show_checkin_categories a {
  display: block;
}

@media all and (max-width: 760px) {
    .show_checkin_container {
      padding-top: 5%;
    }
}

