.show_checkin_container {
  margin: auto;
  text-align: center;
  width: 85%;
  height: 100%;
  div {
    max-width: 800px;
  }
}

.title_container {
  background-color: #A9A9A9;
  width: 100%;
  padding: 1% 0;
  font-size: 1.4em;
  margin: 3% auto 0 auto;
  position: relative;
}

.edit_delete_links {
  // clear: both;
  // padding-bottom: 2%;
  position: absolute;
  top: 0;
}

.show_checkin_map {
  text-align: center;
  height: 35%;
  margin: 2% auto 0 auto;

  #map {
    height: 100%;
  }
}

.assets_container {
  height: 35%;
  width: 100%;
  background-color: #A9A9A9;
  margin: 2% auto 0 auto;
  padding: 2% 0 2% 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.image_show, .video_show {
  height: 100%;
  float: left;
  margin-left: 2%;
}

.words_div {
  width: 50%;
  height: 100%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.music_container {
  width: 100%;
  margin: 2% auto 0 auto;
}

.audio_show_controls {
  width: 100%;
}

.people_category_container {
  margin: 2% auto 0 auto;
}

.show_checkin_people, .show_checkin_categories {
  background-color: #A9A9A9;
  width: 49%;
  float: left;
  margin-bottom: 2%;
}

.show_checkin_categories {
  margin-left: 2%;
}

#delete_icon_show_page {
  width: 3%;
  margin-top: 2%;
  margin-right: 2%;
}

#edit_icon_show_page {
  width: 4%;
  margin-top: 2%;
  margin-left: 2%;
}


