.show_checkin_container {
  margin: auto;
  text-align: center;
  width: 85%;
  height: 100%;
}

.title_container {
  background-color: #fff;
  width: 98%;
  padding: 1%;
  margin-top: 3%;
}

.show_checkin_map {
  text-align: center;
  height: 35%;
  margin-top: 2%;

  #map {
    height: 100%;
  }
}

.assets_container {
  height: 35%;
  width: 100%;
  margin-top: 2%;
  background-color: #A9A9A9;
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;
}

.asset_div {
  float: left;
  height: 85%;
  margin: auto;
  text-align: center;
  padding: 2% 0 2% 2%;
}

.words_div {
  width: 50%;
  height: 100%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.music_container {
  width: 100%;
  margin-top: 2%;
}

#audio_show_controls {
  width: 100%;
}

#image_show, #video_show {
  height: 100%;
}

.people_category_container {
    // margin-top: 2%;
    margin: auto;
}

.show_checkin_people, .show_checkin_categories {
  background-color: #A9A9A9;
  width: 50%;
  float: left;
  margin-top: 2%;
}

.show_controls {
  clear: both;
  margin-top: 2%;
}

#delete_icon_show_page {
  width: 3%;
  margin-top: 2%;
  margin-right: 2%;
}

#edit_icon_show_page {
  width: 4%;
  margin-top: 2%;
  margin-left: 2%;
}


