.people_overlay
  = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/People.png",  id: 'people_image'
  %p.instructions People
.people_content
  - if !current_user.people.empty?
    .field
      = f.select :person_ids, current_user.people.collect { |x| [x.name,x.id] }, {prompt: false}, multiple: true
