.jPanelMenu-panel {
  height: 100%;
  width: 100%;
}

.checkin_title {
  color: black;
  font-size: 1.5em;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;

  #navbar {
    display: none;
  }

.search_box {
  text-align: center;
  height: 5%;
  min-height: 30px;
}

.select_search_div {
  width: 20%;
  float: left;
  margin-bottom: 0.75%;
  text-align: center;
  background-color: #383C3D;
  color: white;
}

.search_input_div {
  width: 80%;
  float: left;
  margin-bottom: 0.75%;
}

#searchCategory {
  -webkit-appearance: none;
  border: none;
  background: none;
  font-size: 1.3em;
  height: 30px;
  margin-left: 3%;
  color: white;
  border-radius: 0;
  text-align: center;
}

#searchQuery {
  width: 100%;
  font-size: 1.3em;
  height: 30px;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 0;
}


.map_dash {
  width: 100%;
  height: 100%;

  #map {
    height: 100%;
    width: 100%;
  }
}

  .top_bar {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(62, 62, 62), rgb(56, 56, 56));
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(72, 72, 72);
    border-bottom-style: solid;
    color: rgb(247, 247, 247);
    cursor: auto;
    display: block;
    font-family: museo-sans, 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgb(34, 34, 34) 0px -1px 2px;
    width: 225px;
    zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    min-height: 30px;
    font-size: 1.5em;
    border: 0;
    text-align: center;
    padding: 3px;

    .menu_icon {
      left: 0;
      float: left;
      margin-left: 1%;
      margin-top: 0.55%;
    }

    a {
      margin-right: 20px;
    }
  }

  .content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('tweed.png')
  }

  .errors {
    font-size: 1em;
    width: 100%;
    border: 2px solid red;
    border-radius: 5px;
    margin: 0 auto;
  }
}

@media all and (max-width: 700px) {

   .select_search_div {
    width: 50%;
  }

  .search_input_div {
    width: 50%;
  }
}

#location, #category, #people {
  margin: 5px;
}

