.home_page {
  background-color: #000;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#marker_home {
  width: 100%;
  height: 100%;
}

.logo {

}

.logo_marker {
  height: 100%;
}

#logo_marker_background {
  background-color: purple;
  width: 20%;
  height: 50%;
  margin: 0 auto;
}


.login_home {

}

.home {

}

.signup_home {

}
