.home_page {
  background-color: #000;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.logo_div {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: black;
  height: 15%;
  img {
    height: 100%;
  }
}

#marker_home {
  width: 100%;
  display: block;
  margin: auto;
}

#ehxe_logo {
  width: 20%;
  margin-top: 5%;
}

.logo_marker {
  height: 100%;
  background-color: #000;
}

#logo_marker_background {
  background-color: purple;
  width: 20%;
  float: left;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition:all 1s ease-in;
  transition: all 1s ease-in;
}

.home_links {
  margin-top: 8%;
  text-align: center;
  float: left;
  width: 40%;
}

#login_home,
#signup_home  {
  font-size: 1.5em;
  border-radius: 3px;
  color: #777;
  width: 10%;
  margin: 2% auto;
  display: inline block;
  font-family: "Sinhala MN", "Sinhala Sangam MN", "Perpetua", "Garamond";
}

#login_home:hover,
#login_home:focus,
#signup_home:hover,
#signup_home:focus {
  color: #fff;
}

.content#home_page {
  height: auto;
  background-color: #000;
  height: 100%;
}

#error_explanation {
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
    border: 2px solid grey;
    padding: 1%;
    background: white;
    h2 {

    }
}

.about {
  text-align: center;
  clear: both;
  margin: auto;
  color: #777;
  font-family: "Sinhala MN", "Sinhala Sangam MN", "Perpetua", "Garamond";
  width: 30%;
  font-size: 1.2em;
  padding-top: 3%;
}

