.jPanelMenu-panel {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;

  #navbar {
    display: none;
  }

  .top_bar {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(62, 62, 62), rgb(56, 56, 56));
    background-origin: padding-box;
    background-size: auto;
    border-bottom: 2px;
    border-bottom-color: rgb(72, 72, 72);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(247, 247, 247);
    cursor: auto;
    display: block;
    font-family: museo-sans, 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgb(34, 34, 34) 0px -1px 2px;
    width: 225px;
    zoom: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5em;
    padding: 0.5% 0 0.8% 0;
    text-align: center;

    .menu_icon {
      left: 0;
      float: left;
      margin-left: 1%;
      margin-top: 0.55%;
    }
  }

  .content {
    padding-top: 50px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('https://s3-eu-west-1.amazonaws.com/ehxe/sandpaper.png');
  }

  .errors {
    font-size: 1em;
    width: 90%;
    border: 2px solid red;
    border-radius: 5px;
    margin: 0 auto;
  }

}
