.new_checkin,
.past_checkin {
  width: 90%; height: 100%;
  margin: 0 auto; padding: 1%;
  text-align: center;
  .past_checkin_form {
    display: none;
  }
  .checkin_form_box {
    border: 1px solid black;
    width: 49.5%; height: 300px;
    float: left;
  }
}

#map,
#past_map {
  height: 300px; width:100%;
  margin: 0 auto;
  float: left;
}

.submit_button {
  width: 100%;
  background: blue;
  color: white;
  font-family: 'Droid Sans';
  font-size: 1.5em;
  border: none;
}