.show_checkin_container {
  margin: auto;
  text-align: center;
  width: 900px;
  // float: left;
}

.show_checkin_map, .asset_div, .show_checkin_people_div, .show_checkin_categories_div {
  width: 50%;
  margin-top: 30px;
  float: left;
}



#audio_tag_show_page {
  position: relative;
  left: -140px;
  top: -10px;
}

