.show_checkin_container {
  margin: auto;
  text-align: center;
  width: 900px;
  height: 50%;
  // float: left;
}

.assets_container {
  height: 100%;
}

.asset_div, .show_checkin_people_div, .show_checkin_categories_div {
  width: 50%;
  float: left;
  height: 100%;
  margin: auto;
  text-align: center;
}

.asset_div, video, audio {
  max-height: 250px;
}

.words_div {
  width: 50%;
  height: 100%;
}

.show_checkin_map {
  text-align: center;
  height: 75%;
}

#audio_tag_show_page {
  position: relative;
  top: -60px;
  height: 100px;
  width: 250px;
  margin: 0 auto;
  display: block;
}

#audio_default_image {
  margin: 0 auto;
  display: block;
}

#map.show {
  width: 90%;
  max-height: 200px;
  margin: 0 auto;
  display: block;
  float: none;
}

#address {
  clear: both;
}

.show_controls {
  margin-bottom: 40px;
}
