.new_login,
.new_session {
  text-align: center;
  margin: 3% auto;
}

#new_user {
  width: 100%;
}

.title {
  color: #fff;
  font-size: 2em;
  font-family: "Sinhala Sangam MN", "Perpetua", "Garamond";
  margin-bottom: 2%;
}

label {
  color: #fff;
  font-size: 1.2em;
}

input {
  font-size: 1.5em;
}

.actions.login {
  padding: 1%;
  background-color: purple;
  border-radius: 3px;
  width: 30%;
  margin: 1% auto;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition:all 1s ease-in;
  transition: all 1s ease-in;
}

#login_submit,
.submit_button, {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: "Sinhala Sangam MN", "Perpetua", "Garamond";
  font-size: 1.2em;
}

#email_field,
#password_field,
#name_field,
#password_conf_field {
  font-family: "Sinhala Sangam MN", "Perpetua", "Garamond";
  position: relative;
  text-align: center;
}

input#password,
input#email,
input#user_email,
input#user_name,
input#user_password,
input#user_password_confirmation,
input#user_current_password {
  width: 30%;
  margin: auto;
  padding: 1%;
  border-radius: 3px;
  text-align: center;
}

#_sessions_email,
#_sessions_password {
  text-align: center;
  width: 30%;
  padding: 1%;
}


// DEVISE STYLING

.remember_me_div {
  font-size: .7em;
}

#user_remember_me {
  margin-right: 0.5%;
  margin-bottom: 0.3%;
}

// .devise_container_div {
//   margin-top: 2%;
// }

#sign_in_devise_link, #sign_up_devise_link {
  font-size: 1em;
  padding: 1%;
  display: block;
}

#forgot_password_devise_link {
  padding: 2%;
  font-size: 1em;
}

