/ %h4 Edit Checkin
/ = nested_form_for @checkin do |f|
/   = render 'partials/errors', resource: @checkin

/   .title_field
/     = f.text_field :title, placeholder: ' Title', required: true

/   .map



/     = f.hidden_field :latitude
/     = f.hidden_field :longitude
/     - default_x = "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/x_icon.png"

/   #checkin_inventory
/     .words.checkin_form_box
/       .words_content
/         %p.instructions Words
/         .field
/           = f.fields_for :assets do |asset|
/             = asset.text_area :words
/             = asset.file_field :media, style:'display:none' #DO NOT DELETE OR FILE UPLOAD WILL NOT WORK
/             = asset.link_to_remove "Remove Words"
/           = f.link_to_add "Add Words", :assets, id: "add_words_link"

/     .categories.checkin_form_box
/       .category_content
/         %p.instructions Categories
/         - if !current_user.categories.empty?
/           .field
/             = f.select :category_ids, @categories, {prompt: false}, multiple: true

/         .field
/           = f.fields_for :categories do |category|
/             = category.text_field :name, placeholder: ' Name'
/             = category.select :color, Category.colors
/             = category.link_to_remove image_tag default_x
/           = f.link_to_add "New Category", :categories

/     .assets.checkin_form_box
/       .add_media
/         %p.instructions Media
/         .div_for_asset__upload_appends
/         %img#add_media{src:'http://iconizer.net/files/Wireframe_mono_icons/orig/sq_plus.png'}

/     .people.checkin_form_box
/       .people_content
/         %p.instructions People
/         - if !current_user.people.empty?
/           .field
/             = f.select :person_ids, @people, {prompt: false}, multiple: true

/         .field
/           = f.fields_for :people do |person|
/             = person.label :name
/             = person.text_field :name
/             = person.link_to_remove image_tag default_x
/           = f.link_to_add "New Person", :people

/     .actions
/       = f.submit 'UPDATE', class: 'submit_button'
