%script{src:'http:////ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
= javascript_include_tag 'checkin_index'

%button#show_checkins_map Checkins

#map

#timeline
  TIMELINE
  .h1#title
  #category
  #asset
  .buttons
    %button#timeline_next_button Previous five
    %button#timeline_previous_button Next five


