#map

.search_box
  %select{name:'category',id:'searchCategory'}
    %option{value:'location'}= "Location".html_safe
    %option{value:'people'} People
    %option{value:'category'} Category
  %input{type:'text',name:'query',id:'searchQuery',placeholder:"Search"}

/ JPAGES NAV PANEL
.holder
/ JPAGES ITEM CONTAINER
.timeline_holder
  %ul#itemContainer

.chart_holder
  #chartContainer

