#map

.search_box
  %select{name:'category',id:'searchCategory'}
    %option{value:'location'}= "Location".html_safe
    %option{value:'people'} People
    %option{value:'category'} Category
  %input{type:'text',name:'query',id:'searchQuery',placeholder:"Search"}

/ JPAGES NAV PANEL
.holder
  / JPAGES ITEM CONTAINER
.timeline_holder
  %ul#itemContainer
  / CHART CONTAINER
.chart_holder
  #chartContainer

  / #timeline TIMELINE
  / .buttons
  /   %button#timeline_next_button Previous five
  /   %button#timeline_previous_button Next five
