#map
%form{id:'checkinsSearch', data: { remote: true } }
  %input{type:'text',name:'location',id:'searchLocation'}
/ JPAGES NAV PANEL
.holder
  / JPAGES ITEM CONTAINER
%ul#itemContainer
  / CHART CONTAINER
.chartContainer

  / #timeline TIMELINE
  / .buttons
  /   %button#timeline_next_button Previous five
  /   %button#timeline_previous_button Next five